#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "eza"
     "koekeishiya/formulae/yabai"
     "FelixKratz/formulae/sketchybar"
     "yqrashawn/goku/goku"
     "fzf"
     "lua"
     "switchaudio-osx"
     "nowplaying-cli"
     "jq" -}}
{{ $casks := list
     "karabiner-elements"
     "sf-symbols"
     "homebrew/cask-fonts/font-sf-mono"
     "homebrew/cask-fonts/font-sf-pro"
     "homebrew/cask-fonts/font-meslo-lg-nerd-font"
     "homebrew/cask-fonts/font-jetbrains-mono-nerd-font"
     "hammerspoon" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
