#!/bin/bash

# hash of yabai: {{ output "shasum" "-a" "256" "/opt/homebrew/bin/yabai" }}

echo "$(whoami) ALL=(root) NOPASSWD: sha256:$(shasum -a 256 $(which yabai) | cut -d " " -f 1) $(which yabai) --load-sa" | sudo tee /private/etc/sudoers.d/yabai
yabai --stop-service 2> /dev/null ; yabai --start-service
