#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "eza"
     "fzf"
     "jq" -}}
{{ $casks := list
     "karabiner-elements"
     "hammerspoon" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
