#!/bin/bash

set -eufo pipefail

{{ $taps := list
     "felixkratz/formulae"
     "koekeishiya/formulae"
     "yqrashawn/goku" -}}
{{ $brews := list
     "tmux"
     "eza"
     "koekeishiya/formulae/yabai"
     "FelixKratz/formulae/sketchybar"
     "yqrashawn/goku/goku"
     "jesseduffield/lazygit/lazygit"
     "fzf"
     "fd"
     "bat"
     "lua"
     "openconnect"
     "switchaudio-osx"
     "nowplaying-cli"
     "powerlevel10k"
     "zsh-syntax-highlighting"
     "jq" -}}
{{ $casks := list
     "raycast"
     "karabiner-elements"
     "sf-symbols"
     "homebrew/cask-fonts/font-sf-mono"
     "homebrew/cask-fonts/font-sf-pro"
     "homebrew/cask-fonts/font-meslo-lg-nerd-font"
     "homebrew/cask-fonts/font-jetbrains-mono-nerd-font"
     "zed"
     "hammerspoon" -}}

{{ range ($taps | sortAlpha | uniq) -}}
brew tap "{{ . }}"
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
